<div class="container">
  <h1>Table Display Page</h1>

  <!-- Dropdown for selecting columns to group by -->
  <label for="groupBy">Group by:</label>
  <select id="groupBy" [(ngModel)]="groupByColumn" (change)="onGroupByChange()" >
    <option [value]="null">None</option>
    <option *ngFor="let option of groupByOptions" [value]="option.value">{{ option.label }}</option>
  </select>

  <!-- Display selected grouping columns with aggregation options -->
  <div *ngIf="groupByColumn !== null">
    <h2>Grouping Columns:</h2>
    <div *ngFor="let column of selectedGroupingColumns">
      <label>
        <input type="checkbox" [(ngModel)]="column.aggregateAverage"> Average
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="column.aggregateMax"> Max
      </label>
      {{ column.name }}
    </div>
  </div>

  <!-- Button to refresh data -->
  <button (click)="refreshData()">Refresh Data</button>

  <!-- Table Component to display data -->
  <!--<app-table [configuration]="tableConfiguration" [data]="tableData"></app-table>-->
  <app-table *ngIf="tableConfiguration && tableData" [configuration]="tableConfiguration" [data]="tableData"></app-table>

</div>
